img{
    width: 100%;
    height: 100%;
}

/* pattern  */

div{
    display: grid;
    grid-template-areas: 
    "firstimage firstimage secondimage"
    "fourthimage fifthimage secondimage"
    "sixthimage sixthimage thirdimage";
    grid-gap: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

#first
{
    grid-area: firstimage;
}

#second
{
    grid-area: secondimage;
}

#third
{
    grid-area: thirdimage;
}

#fourth
{
    grid-area: fourthimage;
}

#fifth
{
    grid-area: fifthimage;
}

#sixth
{
    grid-area: sixthimage;
}