/* the animation i want to create is ==> The box should cover a distance of 500px in x axis 
simulatenoausly it should keep rotating by 45 deg.
This activity should happn infinite no of times.

If we want to create an animation we need to @keyframes
*/

div{
    border: 1px solid orange;
    width: 100px;
    height: 100px;
    background-color: orange;

    animation-name: rotatingandmovingbox;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}



@keyframes rotatingandmovingbox{
    0%{
        transform: translateX(0px) translateY(0px) rotate(0deg);
    }

    90%
    {
        transform: translateY(200px) rotate(30deg);
    }

    100%{
        transform: translateX(500px) rotate(45deg);
    }
}

/* Whenever we see percentage values in animation, always refer the animation duration  */
/* 3s = total time */

/* 0% = 0s
10% = 0.3s
25% = 0.75s
50% = 1.5s
100% = 3s */